<form action="#">
  
    <div class="form-group">
      <label for="bookname">书名</label>
      <input type="text" class="form-control input-sm" id="bookname" placeholder="书名">
    </div>
    <div class="form-group">
      <label for="price">价格</label>
      <input type="text" class="form-control input-sm" id="price" placeholder="价格">
    </div>
    <div class="form-group">
      <label for="type">类别</label>
      <select name="" class="form-control input-sm" id="type">
        <option value="1">计算机</option>
        <option value="2">哲学</option>
        <option value="3">你懂得</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block">
        <i class="glyphicon glyphicon-search"></i>
        查询
      </button>
    </div>